.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;;
    width: 100%;
}

.container-header {
    width: 100%;
    color: #fff;
}


.container-header a{
    color: #fff;
}


.header-top {
    display: flex;
    justify-content: space-between;
    background:#1E1F29;
    padding: 0 15px;
}

.header-top-title {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.header-top-icon {
    width: 10%;
}

.header-top-title p{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.header-mid-title p {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


.header-mid-search {
    display: flex;
    justify-content: center;
}

.header-mid-search input {
    display: flex;
    justify-content: center;
}


.header-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-bg {
    background-color: #15161D;
    width: 100%;
    display: flex;
    justify-content: center;  
    height: 90px; 
    align-items: center; 
    padding: 0 15px;
}


.header-mid-title {
    display: flex;
    gap: 40px;
}
.header-mid-title a {
    border-radius: 25%;
    padding: 5px;
}

.header-mid-icon {
    width: 200px;
}

.header-mid-icon svg {
    width: 60px;
}

.info {
    padding: 20px;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 550px) { 
    .header-mid-search input{
        width: 40%;
        height: 10px;
    }
  
  }